.topl{
	float: left;
}
.topr{
	float: right;
	margin-right: 30px;
}
/*导航*/
.dhb{
	background: #1FAC75;
}
.navbar-itcts .navbar-brand {
  color: #777777;
}
.navbar-itcts .navbar-brand:hover,
.navbar-itcts .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-itcts .navbar-text {
  color: #777777;
}
.navbar-itcts .navbar-nav > li > a:hover,
.navbar-itcts .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-itcts .navbar-nav > .active > a,
.navbar-itcts .navbar-nav > .active > a:hover,
.navbar-itcts .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar-itcts .navbar-nav > .disabled > a,
.navbar-itcts .navbar-nav > .disabled > a:hover,
.navbar-itcts .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-itcts .navbar-toggle {
  border-color: #dddddd;
}
.navbar-itcts .navbar-toggle:hover,
.navbar-itcts .navbar-toggle:focus {
}
.navbar-itcts .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-itcts .navbar-collapse,
.navbar-itcts .navbar-form {
  border-color: #e7e7e7;
}
.navbar-itcts .navbar-nav > .open > a,
.navbar-itcts .navbar-nav > .open > a:hover,
.navbar-itcts .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
@media (max-width: 767px) {
  .navbar-itcts .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-itcts .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-itcts .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-itcts .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-itcts .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-itcts .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-itcts .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-itcts .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-itcts .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-itcts .navbar-link {
  color: #777777;
}
.navbar-itcts .navbar-link:hover {
  color: #333333;
}
.navbar-itcts .btn-link {
  color: #777777;
}
.navbar-itcts .btn-link:hover,
.navbar-itcts .btn-link:focus {
  color: #333333;
}
.navbar-itcts .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcts .btn-link:hover,
.navbar-itcts .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcts .btn-link:focus {
  color: #cccccc;
}
.navbar{
	margin-bottom: 0px;
}
.navbar-collapse{
	padding: 0 6px;
}
.navbar-nav  li a{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #FFFFFF;
	line-height: 50px;
	text-align: center;
	padding: 0;
	width: 130px;
	display: inline-block;
	transition: .3s;
}

.navbar-nav li a:hover{
	color: #F2FDA1 !important;
}
.navbar-brand{
	font-size: 24px;
	color: #FFFFFF !important;
	font-family: "微软雅黑";
}
@media only screen and (min-width: 768px) and (max-width: 995px) {
	.navbar-nav  li a{
		width: 100px;
	}
}
@media (max-width: 767px) {
	.item img{
		height: 200px !important;
	}
	.navbar-nav  li a{
		width: 100%;
	}

}
	
/*banner箭头*/
.carousel-control{
	position: absolute;
    top: 40%;
    left: 10%;
    width: 40px;
    height: 70px;
    font-size: 20px;
    color: #fff;
    z-index: 0;
    text-align: center;
    background-color: #fff
}
.carousel-control.right {
    right: 10%;
    left: auto;
    background-image: none;
}
.carousel-control.left {
    left: 10%;
    right: auto;
    background-image: none;
}
.item img{
	width: 100%;
}
.left em{
	display: inline-block;
    width: 100%;
    height: 100%;
    background: url(zuojiantou.png) center center no-repeat;
}
.right em{
	display: inline-block;
    width: 100%;
    height: 100%;
    background: url(youjiantou.png) center center no-repeat;
}




/*关键词*/
.gjc{
	border-bottom: 1px solid #E5E4E4;
}
.gjc div p{
	display: inline-block;
	font-family: "微软雅黑";
	color: #666666;
	margin-top: 26px;
	margin-bottom: 18px;
	font-size: 14px;
}
.gjc div a{
	font-family: "微软雅黑";
	color: #666666;
	text-decoration: none;
	font-size: 14px;
}
.gjc div input{
	margin-top: 20px;
	float: right;
}
.i1{
	width: 256px;
	height: 26px;
	border: 1px solid #1FAC75;
}
.i2{
	width: 58px;
	height: 26px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	border: 1px solid #1FAC75;
	background: #1FAC75;
}


/*main1*/
.m1top{
	margin-top: 80px;
	background: url(m1b.gif) center center no-repeat;
	height: 164px;
}
.m1top p{
	margin-bottom: 0px;
	margin-top: 52px;
	font-size: 20px;
	color: #FFFFFF;
	font-family: "微软雅黑";
}
.m1top span{
	font-size: 12px;
	color: #FFFFFF;
	font-family: "微软雅黑";
}
.nav-tabs li{
	padding:  0 ;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #FFFFFF;
    font-family: "微软雅黑";
    background-color: #1FAC75;
    border: 0px solid #dddddd;
}
.nav-tabs > li{
	background: #EEEEEE;
}
.nav-tabs > li > a{
	display: inline-block;
	padding: 0;
	width: 100%;
	line-height: 50px !important;
	font-size: 14px;
	color: #333333;
	font-family: "微软雅黑";
	transition: .3s;
}
.nav-tabs > li > a:hover{
	background: #1FAC75;
	color: #FFFFFF;
	font-family: "微软雅黑";
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0px 0px 0 0;
}

.tab-pane ul li {
	margin-top: 20px;
}
.tab-pane ul li a{
	text-decoration: none;
}
.tab-pane ul li a img{
	transition: .3s;
	width: 100%;
	border: 1px solid #EEEEEE;
}
.tab-pane ul li a img:hover{
	-webkit-transform:scale(1.06,1.06);
    -moz-transform:scale(1.06,1.06);
    -transform:scale(1.06,1.06);
}
.tab-pane ul li a p{
	width:100% ;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 12px;
	line-height: 30px;
	font-size: 14px;
	color: #333333;
	font-family: "微软雅黑";
}
.tab-pane ul li a span{
	margin-left: 14%;
	float: left;
	font-size: 12px;
	color: #FEA03C;
	font-family: "微软雅黑";
}
.tab-pane ul li a em{
	transition: .2s;
	font-size: 12px;
	color: #333333;
	font-family: "微软雅黑";
}
.tab-pane ul li a:hover span em{
	color: #FEA03C;
}
@media (max-width: 767px) {
	.tab-pane ul li a p{
		margin-top: 10px;
		line-height: 18px;
		
	}
	.tab-pane ul li a span{
		margin-left: 0;
		width:100% ;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.tab-pane ul li{
		padding: 0 7px;
	}
	.nav-tabs li{
		margin-top: 0px;
	}
	.m1top{
		margin-top: 20px;
		height: 160px;
		background: url(m1b.gif) top center no-repeat;
	}
	.m1top p{
		margin-top: 53px;
	}
	.nav-tabs > li > a{
		width:100% ;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		disp：block;
	}
}


/*main2*/
.m2b{
	margin-top: 60px;
	background: #EEEEEE;
}
.m2top{
	margin-top: 70px;
	border-top: 1px solid #BFBFBF;
}
.m2top div{
	margin-top: -38px;
	background: #EEEEEE;
	width: 242px;
	display: inline-block;
	border: 1px solid #BFBFBF;
}
.m2top div p{
	color: #1FAC75;
	font-size: 20px;
	font-family: "微软雅黑";
	margin-top: 12px;
}
.m2top div span{
	color: #333333;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 8px;
	font-family: "微软雅黑";
}
.m2{
	padding: 0;
	margin-top: 48px;
}
.m2z{
	margin-top: 48px;
}

.m2 ul li{
	margin-bottom: 50px;
	
	padding-left: 66px;
	margin-left: 80px;
}
.m2 ul li h4{
	padding-top: 3px;
	font-size: 14px;
	color: #333333;
	font-family: "微软雅黑";
	margin-bottom: 14px;
}
.m2 ul li p{
	text-align: justify;
	font-size: 12px;
	color: #666666;
	font-family: "微软雅黑";
	margin-bottom: 6px;
}
.l1{
	background: url(zhengpinbaozhang_icon.png) top left no-repeat;
}

.l2{
	background: url(zhuanyeyaoshi_icon.png) top left no-repeat;
}
.l3{
	background: url(changjiashouquan_icon.png) top left no-repeat;
}
.l4{
	background: url(yinsishezhi_icon.png) top left no-repeat;
}
.l5{
	background: url(huodaofukuan_icon.png) top left no-repeat;
}
.l6{
	background: url(manbaibaoyou_icon.png) top left no-repeat;
}

@media (min-width: 768px) and (max-width: 991px) {
	.m2z img{
		margin-left: -20%;
	}
	
}
@media (max-width: 767px){
	.m2 ul li {
	    margin-bottom: 50px;
	    padding-left: 50px;
	    margin-left: 25px;
	}
	.m2 ul li h4{
		width:100% ;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.m2 ul li p{
		width:100% ;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}


.m3t{
	background: url(lainxiwom.png) no-repeat center center;
	height: 239px;
}
.m3{
	box-shadow:0px 10px 25px #E0F5F1;
	margin-top: -100px;
	padding: 0 135px;
	background: #FFFFFF;
}
.m3 h3{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #333333;
	margin-top: 38px;
}
.m3 .p{
	margin-top: 26px;
}
.m3 .p p{
	text-align: justify !important;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #666666;
	line-height: 30px;
	text-align: left;
}
.m3 a{
	text-decoration: none;
	display: inline-block;
	background: #1FAC75;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 14px;
	padding: 10px 30px;
	margin-top: 28px;
	margin-bottom: 20px;
	transition: .3s;
}
.m3 a:hover{
	background: #FFFFFF;
	color: #1FAC75;
}
@media (min-width: 768px) and (max-width: 991px) {
	.m3{
		padding: 0 40px;
	}
	.m3 a{
		margin-top: 15px;
		margin-bottom: 20px;
	}
}

@media (max-width: 767px){
	
	.m3{
		margin-top: 0;
		padding: 0 15px;
	}
	.m3 a{
		margin-top: 15px;
		margin-bottom: 20px;
	}
	.m3 .p {
	    margin-top: 16px;
	}
	.m3 .p p{
		line-height: 26px;
	}
}


/*main4*/
.m4top{
	margin-top: 70px;
	border-top: 1px solid #BFBFBF;
}
.m4top div{
	margin-top: -38px;
	background: #FFFFFF;
	width: 242px;
	display: inline-block;
	border: 1px solid #BFBFBF;
}
.m4top div p{
	color: #1FAC75;
	font-size: 20px;
	font-family: "微软雅黑";
	margin-top: 12px;
}
.m4top div span{
	color: #333333;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 8px;
	font-family: "微软雅黑";
}
.m41{
	background: #FFFFFF;
}
.m41 div{
	padding: 0;
}
.m41 div img{
	width: 100%;
	margin-left: 40px;
	margin-top: 5px;
	margin-bottom: 0px;	
}
.m41 div h3{
	font-size: 32px;
	padding: 28px 16px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	display: inline-block;
	background: #1FAC75;
}
.m41 div span{
	display: inline-block;
}
.m41r{
	margin-top: 3.5%;
}
.m41 h3{
	margin-top: 5px;
}
.m41r span{
	font-family: "微软雅黑";
	font-size: 24px;
	color: #333333;
	margin-bottom: 12px;
	text-align: justify;
}
.m41r p{
	text-align: justify;
	margin-bottom: 8px;
	line-height: 22px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #666666;
}
.m42{
	background: #EEEEEE;
}
.m42 div{
	padding: 0;
}
.m42 div img{
	width: 100%;
	margin-left: 40px;
	margin-top: 16px;
	margin-bottom: 16px;	
}
.m42 div h3{
	font-size: 32px;
	padding: 28px 16px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	display: inline-block;
	background: #1FAC75;
}
.m42 div span{
	display: inline-block;
}
.m42r{
	margin-top: 3.5%;
}
.m42 h3{
	margin-top: 5px;
}
.m42r span{
	text-align: justify;
	font-family: "微软雅黑";
	font-size: 24px;
	color: #333333;
	margin-bottom: 12px;
}
.m42r p{
	text-align: justify;
	margin-bottom: 8px;
	line-height: 22px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #666666;
}
.m4{
	margin-top: 84px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.m42 div img{
		width: 120%;
		margin-left: 0px;
		margin-top: 16px;
		margin-bottom: 16px;	
	}
	.m41r div{
		padding: 0 4px;
	}
	.m42r div{
		padding: 0 4px;
	}
	.m4 {
	    margin-top: 30px;
	}
}
@media (max-width: 767px){
	.m41{
		padding: 0 6px;
	}
	.m42{
		padding: 0 6px;
	}
	.m41r{
		margin-bottom: 3%;
	}
	.m41 div h3{
		font-size: 32px;
		width: 100%;
		padding: 18px 0px;
	}
	.m41r span {
    	font-size: 18px;
    	margin-bottom: 4px;
	}
	.m41r p {
	    margin-bottom: 0px;
	    line-height: 19px;
	}
	.m41r div{
		padding: 0 5px;
	}
	.m42 div h3{
		font-size: 32px;
		width: 100%;
		padding: 18px 0px;
	}
	.m42r span {
    	font-size: 18px;
    	margin-bottom: 4px;
	}
	.m42r p {
	    margin-bottom: 0px;
	    line-height: 19px;
	}
	.m42r div{
		padding: 0 5px;
	}
	.m42r{
		margin-bottom: 3%;
	}
	.m4 {
	    margin-top: 20px;
	}
}

/*main5*/
.m1top1 span img{
	height: 100%;
}
.m1top1{
	margin-top: 120px;
	margin-bottom: 20px;
}
.m1top1 span{
	padding-left: 6px;
	font-size: 20px;
	font-style: normal;
	font-family: "微软雅黑";
	color: #000000;
}
.m6 ul li{
	padding-left: 10px;
	padding-right: 10px;
}
.m6 ul li img{
	width: 100%;
}

.m6 ul li span{
	display:block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
	font-size: 16px;
	margin-top: 18px;
	margin-bottom: 10px;
	font-family: "微软雅黑";
	color: #000000;
}
.m6 ul li em{

	color: #666666;
	font-family: "微软雅黑";
	text-align:justify;
	line-height: 24px;
	font-size: 14px;
}
.m6 ul li p{
	margin-top: 24px;
	text-align: center;
	margin-bottom: 24px;
}
.m6 ul li p a{
	padding: 8px 18px;
	border: 1px solid #000000;
	color: #333333;
	font-family: "微软雅黑";
	margin-top: 24px;
}
.m6 ul li p a:hover{
	text-decoration: none;
		border: 1px solid #FFFFFF;
	background: #E8E8E8;
	transition: .4s;
}
@media (min-width: 768px) and (max-width: 991px) {
	.m1top1 {
    	margin-top: 75px;
    }
	
}
@media (max-width: 767px){
	.m1top1 a{
		margin-top: 10px !important;
	}
 	.m1top1{
	margin-top: 30px !important;
	}
}
@media (max-width: 500px){
	.m6 ul li em{
		font-size: 12px !important;
		display:block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow:hidden;
	}
	.m6 ul li span{
		font-size: 14px !important;
		margin-top: 12px !important;
		margin-bottom: 1px !important;
	}
	.m6 ul li p{
		margin-top: 6px !important;
	}
	.m6 ul li p a{
		padding: 4px 9px !important;
		font-size: 12px !important;
	}
}

@media (max-width: 400px) {
	.m1top1 span img{
	width: 100% !important;
 	}
 }


.foot{
	background: #E8E8E8;
	margin-top: 130px;
}
.foot div{
	padding: 38px 0 25px 0;
}
.foot div p{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #777777;
	line-height: 40px;
}
.foot a {
	color: #777777;
	transition: .2s;
}
.foot a:hover{
	color: #000000;
	text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px) {
	.foot{
		margin-top: 50px;
	}
	
}
@media (max-width: 767px) {
	.foot div p{
		font-size: 12px;
	}
	.foot{
		margin-top: 30px;
	}
	.foot div{
		padding: 25px 0 15px 0;
	}
	.foot div p{
		line-height: 24px;
	}
}



/*图文列表*/
.tw li{
	width: 25%;
}
.twa a{
	text-decoration: none;
	font-size: 14px;
	padding: 12px 48px;
	display: inline-block;
	background: #E5E4E4;
	color: #1FAC75;
	font-family: "微软雅黑";
	margin-top: 66px;
	transition: .3s;
}
.twa a:hover{
	background: #1FAC75;
	color: #FFFFFF;
}

.m1{
	display: inline-block;
}
.m1 ul {
	background: #EEEEEE;
	margin-top: 20px;
}




/*当前位置*/
.dqwz{
	margin-top: 12px;
	margin-bottom: 6px;
}
.dqwz div div{
	font-size: 14px;
	color: #999999;
	font-family: "微软雅黑";
}
.dqwz div div a {
	font-size: 14px;
	color: #999999;
	font-family: "微软雅黑";
	transition: .3s;
}
.dqwz div div a:hover {
	color: #1FAC75;
	text-decoration: none;
}








/*新闻列表*/
.xwl ul {
	background: #EEEEEE;
	margin-top: 20px;
}

.xw ul li a{
	text-decoration: none;
	display: inline-block;
}
.xw ul{
	padding-left: 40px;
}
.xw ul li{
	padding: 0;
	border-bottom: 1px solid #EBEEF4;
}
.xw ul li a h3{
	text-align: justify;
	margin-top: 30px;
	margin-bottom: 14px;
	font-size: 16px;
	font-family: "微软雅黑";
	color: #414141;
	transition: .3s;
	}
.xw ul li a:hover h3{
	color: #1FAC75;
	}
.xw ul li a p{
	text-align: justify;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #999999;
	margin-bottom: 2px;
	}
.xw ul li a span{
	display: inline-block;
	margin-bottom: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #999999;
	}
@media (max-width: 767px) {
	.xw ul{
		padding: 0 12px;
		margin-top: 15px;
	}
	.xw ul li a span{
		margin-bottom: 7px;
		}
	.xw ul li a h3{
		margin-top: 15px;
		margin-bottom: 7px;
	}
}




/*页码*/
.page{
	text-align: center;
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 50px;
}
.page span{ margin: 0 6px;}
.page span a{
	font-family: "微软雅黑";
	text-decoration: none;
	height: 30px;
	width: 30px; 
	line-height: 30px;
	display: inline-block;
	background: #1FAC75;
	color: #FFFFFF;
	transition: .4s;
	}
.page span a:hover{
	
	background: #E8E8E8;
	color: #FFFFFF;
}
.page span.on{ 
	font-family: "微软雅黑";
	height: 30px;
	width: 30px; 
	line-height: 30px;
	display: inline-block;
	background: #E8E8E8;
	color: #FFFFFF;
	}
.page span a.lf{
	width: 50px;
	font-size: 12px;
	height: 30px;
	background: #1FAC75;
	color: #FFFFFF;
	display: inline-block;
	line-height: 30px;
	text-decoration: none;
}
.page span a.rt{
	text-decoration: none;
	width: 50px;
	font-size: 12px;
	height: 30px;
	background: #1FAC75;
	color: #FFFFFF;
	display: inline-block;
	line-height: 30px;
}
.page span a.rt:hover{
	background: #E8E8E8;
}
.page span a.lf:hover{
	background: #E8E8E8;
}

@media (max-width: 767px) {
	.page{
		text-align: center;
		display: inline-block;
		margin-top: 30px;
		margin-bottom: 25px;
	}
}










/*图文详情*/
.twxq{
	text-align: center;
}
.twxq img{
	margin-top: 30px;
	max-width: 100%;
	margin-bottom: 30px;
}
.twxq p{
	text-align: left;
}
.twxq h5{
	font-size: 16px;
	color: #333333;
	font-family: "微软雅黑";
	margin-top: 80px;
	margin-bottom: 29px;
}
.twxq a span{
	font-size: 12px;
	color: #666666;
	font-family: "微软雅黑";
	padding-right: 10px;
}
.twxq a{
	margin-bottom: 20px;
	width: 100%;
	display: inline-block;
	margin-bottom: 20px;
}
.twxq a:hover{
	text-decoration: none;
}
.twxq a spqn{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #666666;
	padding-left: 10px;
}
.twxq p{
	text-align: justify;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #666666;
	line-height: 40px;
	padding-left:80px;
	padding-right: 80px;
}

@media (max-width: 767px) {
	.twxq h5{
		margin-top: 40px;
		margin-bottom: 15px;
	}
	.twxq a{
		margin-bottom: 10px;
	}
	.twxq img{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.twxq p{
		line-height: 26px;
		padding-left:0px;
		padding-right: 0px;
	}
}


/*form*/
.formt {
	margin-top: 100px;
	padding: 0;
}
.formt img{
	margin-bottom: 25px;
}
.formt p{
	font-size: 12px;
	color: #333333;
	margin-bottom: 2px;
	font-family: "微软雅黑";
}
.form{
	margin-top: 80px;
}
.form div input{
	border: 1px #EEEEEE solid;
	width: 100%;
	height: 43px;
	margin-bottom: 10px;
	padding-left: 18px;
}
.form div textarea{
	border: 1px #EEEEEE solid;
	width: 100%;
	height: 88px;
	margin-bottom: 10px;
	padding-left: 18px;
}


.shuru{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #9F9E9E;
	padding-left: 33px;
}
.shuru2{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #9F9E9E;
	padding-left: 6px;
	padding-top: 12px;
}

.tijiao button{
	margin-left: 17px;
	width: 108px;
	height: 40px;
	background: #1FAC75;
	border: 1px solid #1FAC75;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #FFFFFF;
	margin-top: 15px;
	margin-bottom: 20px;
}

.formr{
	margin-top: 80px;
}
.formr img{
	width: 100%;
}

@media (max-width: 767px) {
	.form div{
		padding: 0;
	}
	.tijiao button{
		margin-left: 2px;
		margin-top: 2px;
		margin-bottom: 0px;
	}
	.form{
		margin-top: 40px;
	}	
	.formr{
		margin-top: 30px;
	}
	.point{
		padding: 0 6px;
	}
}









@charset "utf-8";
body,ul,ol,h1,h2,h3,h4,h5,h6,p,input,select,textarea,dl,dd{margin: 0;padding: 0;}
ul,ol{list-style: none;}
input,select,textarea{background-color: transparent; border: none; outline: none;}
textarea{resize: none;}/*右下角的小尾巴*/
img{border: none; vertical-align: top; display:inline-block;}
a{text-decoration: none;}
em,i{ font-style:normal;}
